* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	font-weight: normal;
}

.table {
	display: table;
	width: 100%;
	border-spacing: 2px;
}

.table>* {
	display: table-cell;
	vertical-align: top;
}

/*

https://paletton.com/#uid=14F0u0kcXa896l39CgpjK97n875

#655270    
#4E3F57
#2E2136
#261431
#1C0C26

*/
html {
	background-color: #2E2136;
}

h1 {
	background-color: #4E3F57;
}

h2 {
	background-color: #261431;
}

.shift {
	background-color: #655270;
}

.shift[data-checked-in] {
	background-color: #2E2136;
}

.shift[data-checked-in]::before {
	background-color: #655270;
}

footer {
	background-color: #1C0C26;
}

html {
	color: #eee;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	overflow: hidden scroll;
}

*:link, *:visited {
	color: white;
	text-decoration: none;
}

h1, h2, h3, p {
	line-height: 1.5rem;
	padding: 0.75rem 1rem;
}

h1 {
	font-size: 1.5em;
	text-align: center;
}

h2 {
	font-size: 1em;
}

h3 {
	font-size: 1.25em;
}

body {
	width: 100vw;
	max-width: 15cm;
	margin: auto;
}

@media ( min-width :16cm) {
	body {
		margin-top: 1cm;
		margin-bottom: 1cm;
	}
}

header, main, footer, section, article {
	box-shadow: 0px 1px 6px 0px black;
}

header {
	background-color: white;
	color: #1C0C26;
}

footer {
	color: silver;
	font-size: 0.7em;
	text-align: center;
}

input, button, .button {
	box-sizing: border-box;
	line-height: 3rem;
	border: 0;
	display: block;
	background-color: inherit;
	color: inherit;
}

input {
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

button, .button {
	text-align: center;
	font-size: 1.5em;
}

button, .button, .button-container {
	width: 3rem;
}

.shift[data-checked-in]::before {
	content: "✔️ checked in!";
	float: right;
	padding: 0.25rem 0.5rem 0.25rem 0.25rem;
	border-radius: 0.25rem;
	font-style: italic;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

.shift table {
	padding: 0 1rem 1rem 1rem;
}

.shift td:first-child {
	width: 1.5rem;
	line-height: 1.25rem;
	text-align: center;
}

img.qr {
	background-color: white;
	display: block;
	width: 100%;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	object-fit: contain;
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
}

@media print {
	html {
		margin: 0;
	}
	header, footer, nav {
		display: none;
	}
	* {
		box-shadow: none;
	}
}