html {
	background-color: #190B22;
	color: white;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
body {
	margin: 2em;
}

article {
    background-color: #343F1B;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0.5em;
    box-shadow: 0px 1px 6px 0px black;
}

nav {
    background-color: #504A30;  
    border-radius: 3px;
	padding: 0.5em;
	font-size: 0.75em;
    margin: 1em 0;
    box-shadow: 0px 1px 6px 0px black;
}

main {
	font-size: 1.2em;
}

header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	font-style: italic;
	margin-top: 2em;
	padding: 1em 0;
}

h1, h2, h3, p {
	margin: 0;
}

input, button {
	border-radius: 1px;
}

p {
	line-height: 1.5em;
}

.volunteer-name, .volunteer-email {
    padding: 0 0.25em;
    background-color: #2E2136;
    border-radius: 3px;
    display: inline-block;
}
.volunteer-name {
    background-color: #2E2136;
}

.volunteer-email {
    background-color: #877F5A;
}

.shift-name {
	font-size: 1.1em;
}

.shift-time {
    font-size: 0.8em;
    font-style: italic;
}

@media print {
	html {
	   margin: 0;
	}
	header, footer, nav {
	   display: none;
	}
	article {
	   box-shadow: none;
	}
	.volunteer-name, .volunteer-email {
	   font-weight: bold;
	}
}