/* https://paletton.com/#uid=34F0u0kio8razgVcRa2mZ6msv3Y */
html {
	background-color: #190B22;
	color: white;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

*:link, *:visited {
	color: white;
	text-decoration: none;
}

body {
}

table {
    width: 100vw;
    max-width: 15cm;
    margin: auto;
    border-spacing: 0;
}

td {
    text-align: center;
    width: 3rem;
    font-weight: bold;
}
th {
	text-align: left;
	font-weight: normal;
}
th.p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
th[colspan].p {
    padding-left: 1rem;
    padding-right: 1rem;
}

article {
	background-color: #343F1B;
	padding: 1rem;
	box-shadow: 0px 1px 6px 0px black;
}

.category {
    background-color: #2E2136;
}

.header {
    background-color: #504A30;
    font-size: 1.25em;
    box-shadow: 0px 1px 6px 0px black;
}
.header th {
	font-weight: bold;
}
.footer {
    background-color: #504A30;
    font-size: 0.9em;
    box-shadow: 0px 1px 6px 0px black;
}
input, button {
    display: inline-block;
    box-sizing: border-box;
    line-height: 3rem;
    font-size: 1.25em;
    width: 3rem;
    border: 0;
}
input {
	width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}
button {
	width: 10%;
	text-align: center;
	line-height: 3rem;
	display: inline-block;
}

.button {
    display: block;
    width: 100%;
    line-height: 3rem;
    font-size: 1.5em;
}

p {
	line-height: 1.5em;
}

.volunteer-name, .volunteer-email {
	padding: 0.25rem 0.5rem;
	background-color: #877F5A;
	border-radius: 3px;
	display: inline-block;
}

.shift-name {
	font-size: 1.1em;
    margin-top: 0.5em;
}

.shift-date, .shift-time {
    padding: 0.25rem 0.5rem;
    background-color: #424B2D;
    border-radius: 3px;
    display: inline-block;
}
.shift-time {
    background-color: #252F0D;
	float: right;
}

img.qr {
	background-color: white;
	display: block;
	width: 100%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
	
}

@media print {
	html {
		margin: 0;
	}
	header, footer, nav {
		display: none;
	}
	article {
		box-shadow: none;
	}
	.volunteer-name, .volunteer-email {
		font-weight: bold;
	}
}